<%- include ('partials/navbar.ejs') %>

<div class="background-image">
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h1>Cadastrar cliente</h1>
            </div>
    
            <div class="card-body">
                <form action="/clientes/new" method="POST">
                    <label>Nome do cliente:</label>
                    <input type="text" name="nome" id="nome" placeholder="Insira o nome do cliente" class="form-control" required>
                    
                    <label>CPF:</label>
                    <input type="text" name="cpf" id="cpf" placeholder="Insira o CPF do cliente" class="form-control" required>
                    
                    <label>Endereço:</label>
                    <input type="text" name="endereco" id="endereco" placeholder="Insira o endereço do cliente" class="form-control" required>
                    <br>
                    <input type="submit" class="btn btn-success" value="Cadastrar">
                </form>
                <hr>
            </div>
        </div>

        <div class="card">
            <div class="car-header">
                <h1 class="alinhar">Clientes</h1>
            </div>
            <div class="card-body alinhar">
                <table class="minha-tabela">
                    <thead>
                        <th></th>
                        <th>Nome:</th>
                        <th>CPF:</th>
                        <th>Endereço:</th>
                        <th colspan="2">Ações:</th>
                    </thead>
                    <tbody>
                        <% clientes.forEach(cliente => { %>
                            <tr>
                                <td style="width: 40px">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                                        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"/>
                                    </svg>
                                </td>
                                <td><%= cliente.nome %></td>
                                <td><%= cliente.cpf %></td>
                                <td><%= cliente.endereco %></td>
                                <td><a style="color: orange;" href="/clientes/edit/<%= cliente.id %>">Editar</a></td>
                                <td><a style="color: red;" href="/clientes/delete/<%= cliente.id %>" onclick="return confirm('Deseja realmente deletar o cliente <%= cliente.nome %>?')">Deletar</a></td>
                            </tr>
                        <% }) %>
                        </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<%- include ('partials/footer.ejs') %>